body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 45px;
    padding: 45px;
    background: #e4e1e1;
}

.title-card {
    background-color: #DEDEDE;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0,0,0, 0.5);
    border: 1px solid #aaa;
}