body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 45px;
    padding: 45px;
    background: #DEDEDE;
}

.title-card {
    background-color: rgb(229, 229, 229);
    border-radius: 20px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    box-shadow: rgba(0,0,0, 0.1) 0 0 20px;
    border: 1px solid #aaa;
}