body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 25px;
    background: #DEDEDE;
}

.title-card {
    background-color: #e4e1e1;
    margin: 0 auto;
    width: 400px;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0,0,0, 0.5);
    border: 1px solid #aaa;
}

h1 {
    color: #157D4B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 5px solid rgb(0,0,0);
    margin: 15px;
    padding: 15px;
}

.mission {
    margin: 25px;
    padding: 25px;
    width: 500px;
}

.services {
    margin: 25px;
    padding: 25px;
    width: 500px;
}

.articles {
    display: flex;
    justify-content: space-evenly;
}
.front {
    text-align: center;
    color:#157D4B;
    border-bottom: 1px solid rgb(0,0,0);
}

.art{
    text-align: center;
}

.list{
    line-height: 2;
}

.title {
    color: #157D4B;
    text-align: center;
}
.art-text {
    line-height: 1.6;
    width: 75%
}

.img {
    height: 125px;
    width: 150px;
}

.img-frame {
    float: left;
    padding-right: 5px;
    margin-right: 5px;
  }

  article {
      margin: 25px;
      padding: 25px;
  }